services:
  semaphore:
    image: semaphoreui/semaphore:v2.15.0
    ports:
      - 3000:3000
    environment:
      SEMAPHORE_DB_DIALECT: bolt
      SEMAPHORE_ADMIN: admin
      SEMAPHORE_ADMIN_PASSWORD: changeme
      SEMAPHORE_ADMIN_NAME: Admin
      SEMAPHORE_ADMIN_EMAIL: admin@localhost
      #SEMAPHORE_USE_REMOTE_RUNNER: "False"
      #SEMAPHORE_RUNNER_REGISTRATION_TOKEN: "3kCEEVhCqLV0v8Q2pY5JOFpGQnsLs+ht/d5v1heF+ZQ="
    volumes:
      - semaphore_data:/var/lib/semaphore
      - semaphore_config:/etc/semaphore
      - semaphore_tmp:/tmp/semaphore
      - semaphore_logs:/var/log/semaphore  # Mount logs for logstash
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.0
    ports:
      - 9200:9200
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
      - ./elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro  # Optional

  logstash:
    image: docker.elastic.co/logstash/logstash:8.13.0
    volumes:
      - ./logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
      - semaphore_logs:/var/log/semaphore  # Read Semaphore logs
    ports:
      - 5044:5044
      - 5000:5000
      - 5000:5000/tcp
      - 5000:5000/udp
    depends_on:
      - elasticsearch

  kibana:
    image: docker.elastic.co/kibana/kibana:8.13.0
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    volumes:
      - ./kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:ro  
    depends_on:
      - elasticsearch

volumes:
  semaphore_data:
  semaphore_config:
  semaphore_tmp:
  semaphore_logs:
  elasticsearch_data:
